.imaga{
    max-width: 250px;
}
.VisibleInputImg{
    visibility: visible;
}
.HiddenInputImg {
    visibility: hidden;
}
.profileName{
    margin-top: 0;
}

.logoInfoContainer{
    display: flex;
}
.infoProfile{
    padding-left: 5px;
}
.contacts{
    padding-left: 10px;
}